<%= form_for(secret) do |f| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.number_field :available %>
  </div>

  <div class="field">
    <%= f.label :needed %>
    <%= f.number_field :needed %>
  </div>

  <div class="field">
    <%= f.label :splits %>
    <%= f.text_area :splits %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
