
<%= form_for(secret, remote: true)  do |f| %>
  <div class="field">
    <%= f.label :exposed_secret %>
    <%= f.text_field :exposed_secret %>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.number_field :available %>
  </div>

  <div class="field">
    <%= f.label :needed %>
    <%= f.number_field :needed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
