
<%= form_for(secret, remote: true)  do |f| %>
  <div class="form-group">
    <%= f.label :exposed_secret %>
    <%= f.text_field :exposed_secret, class: "form-control",
                                      autocomplete: "off"%>
  </div>

  <div class="form-group">
    <%= f.label :available %>
    <%= f.number_field :available, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :needed %>
    <%= f.number_field :needed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Split", class: "btn btn-default" %>
  </div>
<% end %>
