<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @secret.description %>
</p>

<p>
  <strong>Available:</strong>
  <%= @secret.available %>
</p>

<p>
  <strong>Needed:</strong>
  <%= @secret.needed %>
</p>

<p>
  <strong>Splits:</strong>
  <%= @secret.splits %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
